# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GGJ2021CWB.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thyag\Documents\Unity\GGJ2021CWB\.idea\.idea.GGJ2021CWB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
